.videoBackground {
    position: absolute;
    right: 0;
    left: 0;
    top: 4.4rem;
    width: 100%;
    z-index: -10;
    object-fit: cover;
    height: 50vw;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8.33vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    ;
    height: 50vw;
}

.hero_text {
    width: 50%;
}

.hero_img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.hero_text h1 {
    font-size: var(--step-0);
    font-weight: 800;
    /* font-size: 70px; */
    margin-bottom: 0.5rem;
}

.hero_text p {
    font-size: var(--step-1);
    font-weight: 600;
}

.blurredPf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68%;
    /* max-width: 392px; */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
    border: 3px solid #fff;
    aspect-ratio: 1/1;
}

.hero_img .blurredPf img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.blurredPf {
    background-image: url(/src/assets/new\ profile\ small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blurredPf img {
    opacity: 0;
}

.blurredPf::before {
    content: "";
    width: 68%;
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 50%;
    animation: pulse 2.5s infinite;
    background-color: white;
    margin-inline: auto;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

.blurredPf.loaded::before {
    animation: none;
    content: none;
}

.blurredPf img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.blurredPf.loaded img {
    opacity: 1;
}

@media (max-width: 700px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.77) 0%, rgba(0, 0, 0, 0) 100%);
        ;
        background-position: center center;
        background-size: cover;
        height: 100%;
        margin-top: -0.1rem;
        overflow: hidden;
        padding-bottom: 2rem;
    }

    .videoBackground {
        top: 2.2rem;
        max-width: 100vw;
        object-fit: cover;
        height: 510px;
        overflow: hidden;
    }

    .hero_text {
        width: 100%;
        text-align: center;
        margin-block: 2rem;
    }

    .hero_img {
        margin-top: 0.2rem;
        width: 385px;
    }

    .hero_text h1 {
        font-size: 2.8rem;
        margin-bottom: 0.5rem;
    }

    .hero_text p {
        font-size: 1.1rem;
        font-weight: 600;
    }
}