.portfolio_videos {
    text-decoration: none;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-wrap: wrap;
    margin-inline: 7vw;
    gap: 3rem;
    margin-block: 4rem;
}

.portfolio_videos a {
    text-decoration: none;
    width: 47%;
}

.pfSect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.pfHeading {
    text-transform: uppercase;
    background: #000;
    border-radius: 6px;
    padding: 0.2em 0.4em;
    display: inline-block;
    margin-top: 5rem;
    font-size: var(--step-3);
}

@media (max-width: 950px) {
    .portfolio_videos {
       gap: 1.7rem;
    }
}

@media (max-width: 700px) {
    .pfHeading {
        font-size: 1.6rem;
        margin-bottom: -1.3rem;
        margin-top: 3rem;
    }

    .portfolio_videos {
        margin-bottom: 3rem;
    }

    .portfolio_videos a {
        width: 100%;
    }
}
