.video {
    position: relative;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 47%;
}

.vid_img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.vid_img img {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.video_text {
    position: absolute;
    display: flex;
    align-items: flex-end;
    /* justify-content: start; */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.text_icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.text_icon h2 {
    font-weight: 600;
    font-size: var(--step-2);
}

.text_icon i {
    font-size: var(--step-2);
}

.text_icon {
    margin-left: 1.3rem;
    margin-bottom: 0.9rem;
}

.video_text:hover {
    opacity: 1;
}

.blurred-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.blurred-img img {
    opacity: 0;
}

.blurred-img::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 1rem;
    animation: pulse 2.5s infinite;
    background-color: white;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

.blurred-img.loaded::before {
    animation: none;
    content: none;
}

.blurred-img img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.blurred-img.loaded img {
    opacity: 1;
}