.aboutPage {
    width: 100%;
    overflow: hidden;
}

.aboutImg {
    background-image: url(https://images.unsplash.com/photo-1552855683-fcb3d6bc47ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 4/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImg h1 {
    font-size: var(--step-0);
}

.flexContainer {
    margin-inline: 8.33vw;
}

.flexBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.aboutText {
    width: 55%;
}

.aboutText h2 {
    font-size: var(--step-2);
    font-weight: 800;
}

.aboutText p {
    margin-top: 1rem;
}

.features {
    list-style: none;
    margin-top: 1rem;
}

.features li {
    margin-bottom: 0.3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.aboutSideImg {
    width: 35%;
}

.aboutSideImg img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
}

@media (max-width: 700px) {

    .aboutImg h1 {
        font-size: 2.5rem;
    }

    .aboutSideImg {
        display: none;
    }

    .aboutText {
        width: 100%;
    }

    .aboutText h2 {
        font-size: 1.3rem;
    }

    .aboutImg {
        aspect-ratio: 4/1;
        height: 200px;
    }

    .flexBoxes {
        margin-top: 2.3rem;
        margin-bottom: 3rem;
    }
}