.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8.33vw;
    padding-block: 0.3rem;
    background: #000;
    margin-top: 1.5rem;
}

.navbar .logo h1 {
    font-family: 'Jolly Lodger', cursive;
    font-size: 2rem;
}

.navigations ul {
    display: flex;
    gap: 4.38vw;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffffce;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: #fff;
}