.frameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-block: 5rem;
}

.frameContainer iframe {
    height: 90vh;
    aspect-ratio: 16/9;
    border-radius: 1em;

}